@model IEnumerable<Financeiro.Models.bancos_contas>
<div class="bg-light border ">
    <div class="col-md-12 ">
        <p></p>
            <h5 class="ali "><span class="fa fa-money" style="color:forestgreen"></span> Contas Bancarias</h5>
            <hr />
    </div>
    <div class="bg-light">
        <div class=" p-0 col-md-12">
            <div class="">
                <div class="col-md-12">
                    @using (Ajax.BeginForm("Index", "Bancos_contas", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "listaconta" }))
                    {
                        <div class="form-inline m-1">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="Buscar" name="Buscar" placeholder="Nome da conta">
                                <div class="input-group-append">
                                   <button type="submit" class="btn btn-primary btn-sm text-light" data-toggle="tooltip" data-placement="top" title="Pesquisar" ><span class="fa fa-search"></span></button>
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox m-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="ativo" checked>
                                <label class="custom-control-label" for="customCheck1">ativo</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" name="inativo">
                                <label class="custom-control-label" for="customCheck2">inativo</label>
                            </div>
                        </div>
                    }
                </div>

                <div align="right" class="col-md-2">
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="input-group-append">
                                <a href="#" class="btn btn-sm btn-success m-1" id="adicionar" data-toggle="tooltip" data-placement="top" title="Adicionar"><span class="fa fa-plus"></span> Adicionar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class=" bg-light col-md-12 " id="">
        <hr />
        <div id="listaconta">
            @Html.Partial("_Listar", Model)
        </div>
    </div>
    <div class="row" style="font-size:small">
        <div class="col-6 m-1 row">

        </div>
        <div class="col-5 m-1" style="text-align:right">

        </div>
    </div> 
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
   
        function sucesso() {
            $("#descricao").val('');
            $("#conta").val('');
            $("#agencia").val('');
            $("#nib").val('');
            $("#swift").val('');
            $("#obs").val('');
            $("#iban").val('');
            $('.alert').alert();
            $.ajax({
                method: "get",
                url: '/bancos_contas/Index',
                InsertionMode: 'Replace',
                Update: "listaconta",
                mode:"replace",
                data: $("#form0").serialize()   
            });
        }
        function completo() {
            fexalerta();
        }
        function falha() {
            alert = "algum erro";
        }
        function fexalerta() {
            setTimeout(function () {
                $('.alert').alert('close');
            }, 1000);
        }

        $(document).ready(function () {

            $('#btnsair').click(limpar);
            function limpar() {
                $('#teste2').html('');
            }

            $("#adicionar").click(function () {
           
                var id = $(this).data("value");
                $("#teste").load("/bancos_contas/Create/",
                    function () {
                        $('.alert').alert('close');
                        $("#exampleModalCenter").modal("show");
                    }
                );

            });
            
            $(".btndelete").click(function () {
                $('.alert').alert('close');
                var id = $(this).data("value");
                $("#teste").load("/bancos_contas/Delete/" + id,
                    function () {
                        $('.alert').alert('close');
                        $("#exampleModalCenter").modal("show");
                    }
                );

            });
            $(".btneditar").click(function () {
                var id = $(this).data("value");
                $("#teste").load("/bancos_contas/Edit/" + id,
                    function () {
                        $('.alert').alert('close');
                        $("#exampleModalCenter").modal("show");
                    }
                );

            });


            //$(".btnnovo").click(function () {
            // $("#teste2").load("",
            // function () {
            //  $("#exampleModalCenter").modal("show");
            // }
            // );

            //});

        });</script>
}
