@model PagedList.IPagedList<Financeiro.Models.bancos_contas>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <a href="#" class="btn btn-success btnnovo btn-sm " id="btnnovo" data-toggle="tooltip" data-placement="top" title="Nova conta">
        <span class="oi oi-plus"></span>

    </a>
</p>
<div class="container-fluid">
    @Html.Action("Listar")

</div>
<div class="modal fade" data-backdrop="static" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="teste">

                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
            $(document).ready(function () {
                $(".btndetalhes").click(function () {
                    var id = $(this).data("value");
                    $("#teste").load("/bancos_contas/Details/" + id,
                        function () {
                            $("#exampleModalCenter").modal("show");
                        }
                    );

                });
                $(".btnnovo").click(function () {
                    $("#teste").load("@Url.Action("Create","bancos_contas")",
                        function () {
                            $("#exampleModalCenter").modal("show");
                        }
                    );

                });
            });
    </script>
}