
@{
    ViewBag.Title = "Contas";
}

<h3>Contas</h3>
<hr />
<p>
    <a class="btn btn-success btnnovo btn-sm" href="@Url.Action("Create")"><span class="oi oi-plus" style="font-size:small"></span> Nova conta</a>
    <a href="#" class="btn btn-success btnnovo btn-sm " id="btnnovo" data-toggle="tooltip" data-placement="top" title="Nova conta">
        <span class="oi oi-plus"></span>

    </a>
</p>
@Html.Partial("_Index")
<div class="modal fade" data-backdrop="static" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="teste">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" id="modalcreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="create">
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btndetalhes").click(function () {
                var id = $(this).data("value");
                $("#teste").load("/bancos_contas/Details/" + id,
                    function () {
                        $("#exampleModalCenter").modal("show");
                    }
                );

            });
            $(".btnnovo").click(function () {
                $("#create").load("/bancos_contas/Create/",
                    function () {
                        $("#modalcreate").modal("show");
                    }
                );

            });
        });
    </script>
}