@model IEnumerable<Financeiro.Models.bancos_contas>
<div class="bg-light border">
    <div class="col-md-12 ">
        <p></p>
            <h5 class="ali"><span class="fa fa-money"></span> Contas Bancarias</h5>
            <hr />
  
    </div>
    <div class=" bg-light">
        <div class=" p-0 col-md-12">
            <div class="">
                <div class="col-md-12">
                    @using (Ajax.BeginForm("Index", "Bancos_contas", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "listaconta" }))
                    {
                        <div class="form-inline m-1">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="Buscar" name="Buscar" placeholder="Nome da conta">
                                <div class="input-group-append">
                                    <input type="submit" value="Pesquisar" class="btn btn-default btn-sm" />
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox m-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="ativo" checked>
                                <label class="custom-control-label" for="customCheck1">ativo</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" name="inativo">
                                <label class="custom-control-label" for="customCheck2">inativo</label>
                            </div>
                        </div>
                    }
                </div>

                <div align="right" class="col-md-2">
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="input-group-append">
                                <a href="#" class="btn btn-sm btn-success m-1" id="adicionar"><span class="fa fa-plus"></span> Adicionar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class=" bg-light col-md-12" id="listaconta">
        <hr />
        @Html.Partial("_Listar", Model)
    </div>
    <div class="row" style="font-size:small">
        <div class="col-6 m-1 row">

        </div>
        <div class="col-5 m-1" style="text-align:right">

        </div>
    </div>
    <div class="modal fade border border-dark" data-backdrop="static" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="teste">

            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {



            $('#btnsair').click(limpar);
            function limpar() {
                $('#teste2').html('');
            }

            $("#adicionar").click(function () {
                var id = $(this).data("value");
                $("#teste").load("/bancos_contas/Create/",
                    function () {
                        $("#exampleModalCenter").modal("show");
                    }
                );

            });
            $(".btndelete").click(function () {
                var id = $(this).data("value");
                $("#teste").load("/bancos_contas/Delete/" + id,
                    function () {
                        $("#exampleModalCenter").modal("show");
                    }
                );

            });


            //$(".btnnovo").click(function () {
            // $("#teste2").load("",
            // function () {
            //  $("#exampleModalCenter").modal("show");
            // }
            // );

            //});

        });</script>
}
