body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.col-sem-margem {
    padding-left: 0px;
    padding-right: 0px;
}
.ld-direito {
    position: absolute;
    left: 99%;
    margin-left: -50px;
}
.corpadrao {
    background-color:#4f70ce;
}
.corformverde {
    background-color: #12bbad;
}
.preto {
    background-color: #12bbad;
    color: white;
}
.corfonte_banco {
    color:white;
}
.fontepequena {
    font-size:small;
}
.espaco_form {
    margin:0;
}
.corform {
    background-color:lightsteelblue;
}
.corpage {
    background-color: white;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
            }

            .sidebar-nav li a:active, .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

        #wrapper.toggled {
            padding-left: 250px;
        }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}
.pigendo-primary {
    background-color: #12bbad;
}

a.pigendo-primary:hover, a.pigendo-primary:focus,
button.pigendo-primary:hover,
button.pigendo-primary:focus {
    background-color: #0e8c82 ;
}

.pigendo-secondary {
    background-color: #4f70ce ;
}

a.pigendo-secondary:hover, a.pigendo-secondary:focus,
button.pigendo-secondary:hover,
button.pigendo-secondary:focus {
    background-color: #3355b7 ;
}

.pigendo-success {
    background-color: #28a745 ;
}

a.pigendo-success:hover, a.pigendo-success:focus,
button.pigendo-success:hover,
button.pigendo-success:focus {
    background-color: #1e7e34 ;
}

.pigendo-info {
    background-color: #ccc ;
}

a.pigendo-info:hover, a.pigendo-info:focus,
button.pigendo-info:hover,
button.pigendo-info:focus {
    background-color: #b3b3b3 ;
}

.pigendo-warning {
    background-color: #ffc107 ;
}

a.pigendo-warning:hover, a.pigendo-warning:focus,
button.pigendo-warning:hover,
button.pigendo-warning:focus {
    background-color: #d39e00;
}

.pigendo-danger {
    background-color: #dc3545;
}

a.pigendo-danger:hover, a.pigendo-danger:focus,
button.pigendo-danger:hover,
button.pigendo-danger:focus {
    background-color: #bd2130;
}

.pigendo-light {
    background-color: #f3f3f3;
}

a.pigendo-light:hover, a.pigendo-light:focus,
button.pigendo-light:hover,
button.pigendo-light:focus {
    background-color: #dadada;
}

.pigendo-dark {
    background-color: #151515;
}

a.pigendo-dark:hover, a.pigendo-dark:focus,
button.pigendo-dark:hover,
button.pigendo-dark:focus {
    background-color: black;
}
.fontmedia{
    font-size:medium;
}