body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.col-sem-margem {
    padding-left: 0px;
    padding-right: 0px;
}
.ld-direito {
    position: absolute;
    left: 99%;
    margin-left: -50px;
}
.corpadrao {
    background-color:#4f70ce;
}
.corformverde {
    background-color: #12bbad;
}
.preto {
    background-color: #12bbad;
    color: white;
}
.corfonte_banco {
    color:white;
}
.fontepequena {
    font-size:small;
}
.espaco_form {
    margin:0;
}
.corform {
    background-color:lightsteelblue;
}
.corpage {
    background-color: white;
}
.corbackgrond {
    background-color: #F5F5F5;
}
.corteste{
    background-color:#120a8f;
    color:white;
}
.centralizarfont{
    margin-left:4px;
    margin-bottom:-4px;
}
.table-overflow {
    max-height: 350px;
    overflow-y: auto;
}

.pingendo-blue {
 background-color:#007bff;
}

.pingendo-indigo {
 background-color:#6610f2;
}
.pingendo-light {
    background-color:#f3f3f3;
}
.pingendo-info {
    background-color:#ccc;
}
.pigendo-primary {
    background-color:#12bbad;
}
.pigendo-secundary {
    background-color:#4f70ce;
}
.text-p-primary {
    color: #12bbad;
}
.selecionado {
    font-weight: bold;
}

--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #12bbad;
--secondary: #4f70ce;
--success: #28a745;
--info: #ccc;
--warning: #ffc107;
--danger: #dc3545;
--dark: #151515;