body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.col-sem-margem {
    padding-left: 0px;
    padding-right: 0px;
}
.ld-direito {
    position: absolute;
    left: 99%;
    margin-left: -50px;
}
.corpadrao {
    background-color:#4f70ce;
}
.corformverde {
    background-color: #12bbad;
}
.preto {
    background-color: #12bbad;
    color: white;
}
.corfonte_banco {
    color:white;
}
.fontepequena {
    font-size:small;
}
.espaco_form {
    margin:0;
}
.corform {
    background-color:lightsteelblue;
}
.corpage {
    background-color: white;
}
.corbackgrond {
    background-color: #F5F5F5;
}
.corteste{
    background-color:#120a8f;
    color:white;
}
.centralizarfont{
    margin-left:4px;
    margin-bottom:-4px;
}
.table-overflow {
    max-height: 350px;
    overflow-y: auto;
}
.ali{

}
